extends layout

block content
  div.View
    h1.Banner setti-live
    div.Message
      div.Title
        h3 Lorem
        h1 Ipsum
      span.Details Delta Bravo Tango Delta
    div.NavButtons
      a(href="/user")
          div.NavButton click to immediately die
