block variables
doctype html
html
  head
    title #{title} | setti-live
    link(rel="shortcut icon", href="/images/icon.ico" type="image/x-icon")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    style
      include ../public/stylesheets/style.css
  body
    div#root
      block content
